.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.849);
  position: fixed;
  top: 0%;
  z-index: 5;
}

.outer {
  width: 40%;
  height: 90%;
  position: relative;
  background-color: white;
  border-top-left-radius: 10px;
}

.close__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(100% - 16px);
  top: -16px;
  z-index: 3;
  width: 32px;
  height: 32px;
}

.white {
  background-color: white;
  width: 40%;
  height: 40%;
}

.close {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0%;
}

.top {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 172, 246);
}

.album__cover {
  width: 250px;
  height: 250px;
  position: relative;
}

.album__name {
  font-size: 18px;
  color: blueviolet;
  margin-top: 5px;
}

.bottom {
  height: 60%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: blueviolet;
  overflow-y: scroll;
}

.bottom::-webkit-scrollbar-button {
  display: none;
}

.bottom::-webkit-scrollbar-thumb {
  background: blueviolet;
}

.bottom::-webkit-scrollbar-track {
  background: rgb(212, 171, 250);
}

.container {
  width: 100%;
  height: 70px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.details {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0%;
}

.song__pic {
  width: 50px;
  height: 50px;
  position: relative;
}

.info {
  margin-left: 3px;
  height: 100%;
  padding-top: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  font-size: 14px;
}

.artist {
  margin-top: 2px;
  font-size: 10px;
  color: rgb(46, 46, 46);
}

.like {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .outer {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0%;
  }

  .close__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 3;
    width: 32px;
    height: 32px;
  }
}
