.outer {
  width: 100%;
  height: 100vh;
  position: relative;
}

.top {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: blueviolet;
  background-color: rgb(206, 166, 243);
}

.title {
  font-size: 30px;
  font-weight: 500;
  font-stretch: ultra-expanded;
}

.intro {
  width: 60%;
  font-size: 21px;
  font-style: italic;
}

.info {
  width: 100%;
  background-image: linear-gradient(
    to bottom rgb(211, 172, 246),
    blueviolet,
    rgb(211, 172, 246)
  );
  color: white;
}

.info__box {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info__text {
  height: 80%;
  width: 40%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__pic {
  width: 40%;
  height: 80%;
  box-shadow: 3px, 3px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dividing__line {
  width: 4px;
  height: 80%;
  border-radius: 100vh;
  background-color: white;
}

.divide {
  color: white;
  width: 100%;
  height: 2px;
}

.footer {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, white, blueviolet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.search__test {
  width: 40%;
  height: 10%;
}

.footer__title {
  font-size: 56px;
  font-weight: 700;
  font-stretch: ultra-expanded;
  color: blueviolet;
}

.logo {
  font-size: 18px;
  color: white;
  font-style: italic;
}

@media (max-width: 600px) {
}
