.outer {
  width: 100%;
  height: 100%;
}

.navbar {
  font-size: 21px;
  height: 2em;
  width: 100%;
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  position: sticky;
}

.org {
  font-weight: 500;
  font-stretch: ultra-expanded;
}

.search__box {
  display: flex;
  justify-content: space-between;
  height: 21px;
  width: 200px;
}

.search__input {
  border-radius: 50vh;
  font-size: 16px;
  height: 100%;
  width: 85%;
  overflow-x: auto;
}

.search__input:focus {
  outline: none;
}

.search__button {
  height: 100%;
  width: 10%;
  border-radius: 50%;
  background-color: rgb(71, 0, 138);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.song__section {
  margin-top: 20px;
  width: 100%;
}

.list {
  width: 100%;
}

.list__name {
  color: blueviolet;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5px;
}

.items__container {
  width: 100%;
  border-top: 2px solid blueviolet;
  border-bottom: 2px solid blueviolet;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: 5px;
}

.items__container::-webkit-scrollbar {
  width: 5px;
}

.items__container::-webkit-scrollbar-button {
  display: none;
}

.items__container::-webkit-scrollbar-thumb {
  background: blueviolet;
}

.items__container::-webkit-scrollbar-track {
  background: rgb(212, 171, 250);
}

.loader {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
