.outer {
  width: 100%;
  height: 100%;
}

.navbar {
  font-size: 21px;
  height: 2em;
  width: 100%;
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 5;
}

.org {
  font-weight: 500;
  font-stretch: ultra-expanded;
}

.search__container {
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: sticky;
  height: 21px;
  border: 3px solid blueviolet;
}

#focus {
  border-radius: 10.5px;
}

#input__focus {
  border: none !important;
}

.search__box {
  display: flex;
  justify-content: space-between;
  height: 21px;
  padding-right: 3px;
  align-items: center;
  position: relative;
  z-index: 8;
  margin-bottom: 5px;
}

.search__input {
  font-size: 16px;
  height: 100%;
  max-width: 200px;
  overflow-x: auto;
  margin-right: 6px;
}

.search__input:focus {
  outline: none;
}

.search__results {
  width: 100%;
  min-height: 30vh;
  z-index: 10;
  border: 2px solid blueviolet;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-y: scroll;
}

.loader {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  padding: 0%;
  margin: 0%;
  border: 2px solid blueviolet;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search__results::-webkit-scrollbar {
  width: 5px;
}

.search__results::-webkit-scrollbar-button {
  display: none;
}

.search__results::-webkit-scrollbar-thumb {
  background: blueviolet;
}

.search__results::-webkit-scrollbar-track {
  background: rgb(212, 171, 250);
}

.song__section {
  margin-top: 20px;
  width: 100%;
}

.list {
  width: 100%;
}

.playlist__share {
  width: 100%;
  display: flex;
  min-height: 24px;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0%;
  align-items: center;
}

.list__name {
  color: blueviolet;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

.items__container {
  width: 100%;
  border-top: 2px solid blueviolet;
  border-bottom: 2px solid blueviolet;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: 5px;
}

.main__loader {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items__container::-webkit-scrollbar {
  width: 5px;
}

.items__container::-webkit-scrollbar-button {
  display: none;
}

.items__container::-webkit-scrollbar-thumb {
  background: blueviolet;
}

.items__container::-webkit-scrollbar-track {
  background: rgb(212, 171, 250);
}

.nothing {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blueviolet;
  font-weight: 600;
  font-size: 24px;
}

.customOverlay {
  background: rgba(36, 123, 160, 0);
}
.customModal {
  background: green;
  color: white;
  max-width: 500px;
  width: 100%;
}

.customOverlay2 {
  background: rgba(36, 123, 160, 0);
}
.customModal2 {
  background: red;
  color: white;
  max-width: 500px;
  width: 100%;
}

@media (max-width: 600px) {
  .org {
    display: none;
  }

  .navbar {
    justify-content: center;
  }

  .search__input__phone {
    max-width: 160px;
    font-size: 16px;
    height: 100%;
    overflow-x: auto;
    margin-right: 6px;
  }
}

@media (max-width: 330px) {
  .search__input__phone {
    max-width: 140px;
    font-size: 16px;
    height: 100%;
    overflow-x: auto;
    margin-right: 6px;
  }
}

@media (max-width: 280px) {
  .search__input__phone {
    max-width: 120px;
    font-size: 16px;
    height: 100%;
    overflow-x: auto;
    margin-right: 6px;
  }
}
