.outer {
  width: 100%;
  height: 24;
  background-color: blueviolet;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.song {
  font-size: 18px;
  color: white;
}

.artist {
  font-size: 14px;
  color: white;
}
