.outer {
  width: 100%;
  height: 24;
  background-color: white;
  border-bottom: 2px solid blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  z-index: 5;
  position: relative;
}

.song {
  font-size: 18px;
  color: blueviolet;
}

.artist {
  font-size: 14px;
  color: blueviolet;
}
